:root {
    --main-font-color: white;
    --sec-font-color: #bfbfbf;
    --color3: rgba(255, 255, 255, 0.7);
    --color4: rgba(128, 128, 128, 0.5);
    font-size: 16px;
}

* {
    font-family: 'Dosis', sans-serif;
    color: var(--main-font-color);
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    gap: 0;
}

body {
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

main .photo {
    color: var(--main-font-color);
    background-size: auto 100%;
    background-position: center center;
}

#city {
    background-color: var(--color3);
}

#nameofcity {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    
    font-size: 50px;
}

#submitCity {
    background-color: var(--color4);
    border: 0;
}

/*current styling*/
.current{
    margin: 40px 10% !important;
}

.temp-row{
    flex-wrap: nowrap;
    min-width: 160px;
    margin-bottom: 20px;
}

#temp-val {
    font-size: 150px;
    font-weight: 100;
    text-align: right;
    line-height: 0.8;
}

#temp-unit {
    text-align: center;
    position: relative;
    right: 5px;
    margin: 0;
    font-size: 50px;
    line-height: 1.1;
}

#temp-unit-change {
    color: var(--sec-font-color);
    margin-top: 4px;
    text-align: center;
}

#sky {
    font-size: 30px;
}

main.current hr {
    border: none;
    background-color: var(--sec-font-color);
    height: 1px;
    width: 30px;
    margin: 0 auto;
    text-align: center;
}

.info-box #info-list {
    list-style: none;
    padding: 0;
}

.info-box #info-list li{
    list-style: none;
    padding: 0;
    margin: 5px;
}

/*end od current styling*/

/*5day styling*/
.day {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dayofweek {
    text-transform: uppercase;
    font-weight: 600;
}

.date {
    color: var(--color3);
}

.descr {
    text-align: center;
}

.icon {
    width: 90%;
    height: auto;
    padding: 5%;
}

.max-temp:before {
    content: "Max temp. ";
    font-size: 0.5em;
}

.min-temp {
    color: var(--color3);
}

.min-temp:before {
    content: "Min temp. ";
    font-size: 0.5em;
}

.hum {
    color:var(--color3);
    padding: 10%;
}

.descr {
    padding: 2%;
}

.fivedays {
    padding-top: 2%;
    padding-bottom: 2%;
}
.fas, .humidity{
    font-size: 1em;
}
/*end od 5day styling*/
@media screen and (min-width: 0px) and (max-width: 575px) {
    .dayofweek {
        font-size: 1.2rem;
    }

    .date {
        font-size: 1.2rem;
    }

    .max-temp {
        font-size: 2rem;
    }

    .min-temp {
        font-size: 2rem;
    }

    .hum {
        font-size: 2rem;
    }

    .icon {
        width: 70%;
        height: auto;
    }
    .day{
        padding: 5%;
    }

    .hum {
        padding: 2%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .dayofweek {
        font-size: 1rem;
    }

    .date {
        font-size: .9rem;
    }

    .max-temp {
        font-size: 1rem;
    }

    .min-temp {
        font-size: 1rem;
    }

    .hum {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .dayofweek {
        font-size: 1.1rem;
    }

    .date {
        font-size: .9rem;
    }

    .max-temp {
        font-size: 1.3rem;
    }

    .min-temp {
        font-size: 1.3rem;
    }

    .hum {
        font-size: 0.5rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .dayofweek {
        font-size: 1.2rem;
    }

    .date {
        font-size: 1rem;
    }

    .max-temp, .min-temp {
        font-size: 1.5rem;
    }

    .hum {
        font-size: 0.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .dayofweek {
        font-size: 1.5rem;
    }

    .date {
        font-size: 1.2rem;
    }

    .max-temp {
        font-size: 2rem;
    }

    .min-temp {
        font-size: 2rem;
    }

    .hum {
        font-size: 0.8rem;
    }
}