* {
    font-family: 'Dosis',sans-serif;
}

body{
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

main{
    height: 50vh;
}

.day{
    border: 3px solid red;
}

hr{
    width: 20px;
}

main .current div{
    border: 3px solid red;
}

main .current div div {
    border: 3px solid blue;
}