* {
    font-family: 'Dosis',sans-serif;
}

body{
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

main .photo {
    color: white;
    background-size: auto 100%;
    background-position: center center;
}

/*5day styling*/
.day{
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1em;
}
.dayofweek{
    text-transform: uppercase;
    font-weight: 700;
}
.descr{
    text-align: center;
}
.icon{
    width: 100%;
    height: auto;
}

.max-temp:before{
    content: "Max temp.";
}

.min-temp:before {
    content: "Min temp.";
}
/*end od 5day styling*/

#temp-val{
    font-size: 90px;
}

#temp-unit{
    font-size: 40px;
}

#sky{
    font-size: 30px;
}

main hr{
    border-color: white;
    width: 20px;
}

main .current div{
    border: 3px solid red;
}

main .current div div {
    border: 3px solid blue;
}

main .current .info-box #info-list{
    list-style: none;
}

