* {
    font-family: 'Dosis',sans-serif;
}

body{
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

main{
    height: 50vh;
}

.day{
    border: 3px solid red;
}


#temp-val{
    font-size: 90px;
}

#temp-unit{
    font-size: 40px;
}

#sky{
    font-size: 30px;
}


hr{
    width: 20px;
}


main .current div{
    border: 3px solid red;
}

main .current div div {
    border: 3px solid blue;
}

main .current .info-box #info-list{
    list-style: none;
}

